<form action="/figures" method="post">
  <p>Figure name: <input type="text" name="figure[name]" id="figure_name"></p>
  <p>Titles:<p>
  <% Title.all do |title| %>
    <input type="checkbox" name="figure[titles][]"><%= title.name %>
  <% end %>
  <p>Create New Title:</p>
  <input type="text" name="figure[titles][]">
  <p>Landmarks:<p>
  <% Landmark.all do |landmark| %>
    <input type="checkbox" name="figure[landmarks][]"><%= landmark.name %>
  <% end %>
</form>
