<form action="/figures" method="post">
  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>
  <p>Titles:<p>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[titles][][name]"><%= title.name %>
  <% end %>
  <p>Create New Title:</p>
  <input type="text" name="figure[titles][][name]">
  <p>Landmarks:<p>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmarks][][name]"><%= landmark.name %>
  <% end %>
  <p>Create New Landmark:</p>
  Name: <input type="text" name="figure[landmarks][][name]">
  Year: <input type="text" name="figure[landmarks][][year]">
  <br>
  <input type="submit" name="submit">
</form>
